.teacherSection {
  background: #f8f8f8;
  width: 1440px;

  margin: 0 auto;
}
.filtersCard {
  margin-left: 100px;
}

.buttonCard {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.emptyText {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;

  line-height: 1;
  color: #121417;
  text-align: center;
  margin-top: 100px;
}
