.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 24px;
}

.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  border: none;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  line-height: 0;
  color: #333;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
}
.iconClose {
  color: #121417;
}

.closeButton:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.closeButton:focus {
  outline: 2px solid #007bff;
}
