.logIn {
  display: flex;
  width: 566px;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
}

.titel {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 20px;
}
.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.inputl {
  display: flex;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding-left: 18px;
  width: 438px;
  height: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.375;
  color: #121417;
}

.passwordWrapper {
  position: relative;
}

.eyeButton {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.iconShow {
  fill: none;
  stroke: #9fb7ce;
}
.labelBut {
  padding-bottom: 22px;
}
